@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap");
.restaurant {
  background: #f6f6f6;
  padding: 0 1.2rem 3rem;
}

.option-global {
  display: flex;
  flex-direction: column;
}

.nav {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  font-family: "Roboto", "sans-serif";
}

footer {
  background: #313132;
  flex-direction: column;
  display: flex;
  width: 100%;
}

.footer a {
  color: white;
}

.footer__heading {
  color: white;
  margin-left: 25px;
  padding-bottom: 0px;
}

.footer__titre {
  color: white;
}

h1 {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-family: "Shrikhand", cursive;
  width: 100%;
}

.nav_h2 {
  font-size: 1, 9em;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0;
}

h2.title {
  font-size: 1.6em;
  padding-left: 10px;
  padding-top: 40px;
  margin-top: 0;
}

h2.footer__titre {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}

h2.footer__heading {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}

h2 {
  padding-left: 30px;
  padding-top: 20px;
  margin-top: 0;
}

h3 {
  padding-left: 20px;
  font-weight: lighter;
}

h4 {
  margin-bottom: 5px;
}

.presentation-dexp {
  margin-top: 4px;
  font-size: 0.9rem;
  margin: 20px;
}

.present h2 {
  padding-left: 0px;
}

p.menu-nouveau {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  margin: 15px;
  border-radius: 3px;
  height: 35px;
  font-size: 18px;
  width: 86px;
  color: lightseagreen;
}

.footer__icon {
  margin-right: 10px;
  width: 3%;
  color: white;
}

li {
  color: white;
  list-style: none;
}

ul {
  color: white;
}

.loader__spinner {
  z-index: 3;
  animation: spin 3s forwards linear;
  border: solid 15px transparent;
  border-radius: 50%;
  border-right-color: #9356DC;
  border-top-color: #9356DC;
  box-sizing: border-box;
  height: 150px;
  width: 150px;
  position: fixed;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  opacity: 0;
}
.loader__spinner::before {
  animation: spin 3s 250ms forwards linear;
  border: solid 15px transparent;
  border-radius: 50%;
  border-right-color: #FF79DA;
  border-top-color: #FF79DA;
  box-sizing: border-box;
  content: "";
  z-index: 3;
  height: 120px;
  width: 120px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.loader__spinner::after {
  animation: spin 3s 500ms forwards linear;
  border: solid 15px transparent;
  border-radius: 50%;
  border-right-color: #99E2D0;
  border-top-color: #99E2D0;
  box-sizing: border-box;
  content: "";
  z-index: 3;
  height: 90px;
  width: 90px;
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 0;
}

@keyframes spin {
  5% {
    opacity: 1;
  }
  25% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(540deg);
    opacity: 1;
  }
  80% {
    transform: rotate(576deg);
    opacity: 0.5;
  }
  90% {
    transform: rotate(648deg);
    opacity: 0;
  }
  100% {
    transform: rotate(720deg);
    opacity: 0;
    display: none;
  }
}
/*Création et animation du background du loading spinner */
.loader__ecran {
  background: rgba(153, 226, 208, 0.6);
  background-size: cover;
  width: 100%;
  height: 250%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transform-origin: top;
  transform: scale(0);
  animation: ecran 3s;
}

@keyframes ecran {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  60% {
    opacity: 0.9;
    transform: scale(1);
  }
  70% {
    opacity: 0.8;
    transform: scale(1);
  }
  90% {
    opacity: 0.7;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
    display: none;
  }
}
/*Animation de la page à afficher après le load spinner */
#pagetoload {
  z-index: 3;
  opacity: 1;
  animation: page 2s 2s both;
}

@keyframes page {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.action:hover .fas {
  display: block;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.action:hover .far {
  display: none;
}

.action .fas {
  display: none;
}

.action .far {
  display: block;
}

.action {
  position: relative;
  align-self: flex-start;
  padding: 30px;
  font-size: 1, 5em;
  cursor: pointer;
}

.restaurant-plat1-menu .action {
  position: relative;
  align-self: flex-start;
  padding: 15px;
  font-size: 1, 5em;
  cursor: pointer;
}

.menutotale {
  height: auto;
}

.plat_detail {
  background: white;
  padding: 0px 50px 0px 10px;
  margin: 15px;
  box-shadow: 2px 2px 5px 2px #dddddd;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "sans-serif";
  overflow: hidden;
  text-overflow: ellipsis;
}

.plat_detail:hover {
  cursor: pointer;
  background: rgba(147, 86, 220, 0.15);
}

.plat {
  border-bottom: 3px solid #99E2D0;
  padding-top: 6px;
}

span.detail_prix {
  right: 30px;
  position: absolute;
  opacity: 1;
  font-weight: 700;
}

.plat_detail:hover span.detail_prix {
  width: 20%;
  transition: 1s;
}

.fa-check-circle {
  color: white;
  font-size: 1.3rem;
}

.item-icon {
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0%;
  position: absolute;
  right: 15px;
  height: 95PX;
  border-radius: 0 15px 15px 0px;
  box-shadow: 2px 2px 5px 2px #dddddd;
  transition: 1s;
}

.nomplat {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.titreplat {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: lighter;
}

.nomplat:hover p.titreplat {
  width: 80%;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-icon .fa-check-circle {
  opacity: 0;
  color: white;
  font-size: 1.2rem;
  transform: rotate(180deg);
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.plat_detail:hover .check-icon {
  transform: rotate(-360deg);
}

.plat_detail:hover .item-icon {
  width: 15%;
}

.plat_detail:hover .fa-check-circle {
  transform: rotate(0deg);
  opacity: 1;
}

/* Création de l'animation du menu à l'arrivée sur la page */
.menu {
  animation: entreepage 700ms both ease-in-out;
}

.menu {
  animation: revelation 700ms 400ms both ease-in-out;
}

.menu {
  animation: revelation 700ms 800ms both ease-in-out;
}

@keyframes revelation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.restmain {
  margin-top: -100px;
  background-color: #eaecec;
  border-radius: 45px 45px 0px 0px;
  z-index: 1;
  width: 100%;
  min-height: 100%;
  position: relative;
}

.restheader_image {
  max-width: 100%;
  background-image: url(../image/restaurant/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  width: 100%;
  font-size: 23px;
  position: relative;
}

.header {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
  margin-left: 0;
}

.headermenu {
  width: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
  margin-left: 0;
}

.header_logo {
  justify-content: center;
  display: flex;
  text-align: center;
}

.restheader__titre {
  justify-content: space-between;
  align-items: center;
  border-radius: 50px 50px 0px 0px;
  background-color: #f6f6f6;
  margin-top: 20px;
  font-family: "Shrikhand", cursive;
  font-size: 23px;
  position: relative;
}

.retour {
  width: 80%;
  margin: 10px;
  display: flex;
  align-items: center;
}

/* Responsive page home */
@media screen and (min-width: 768px) {
  .header {
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    font-size: 40PX;
    margin-top: 0px;
  }

  section.present {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .nav_h2 {
    font-size: 2em;
  }

  .option-global {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 40px;
    margin-top: 30px;
    flex-wrap: wrap;
  }

  .option.fonct__option {
    margin-right: 25px;
    margin-left: 25px;
    padding-right: 40px;
    padding-left: 40px;
  }

  #restaurant {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  h2.title {
    font-size: 2em;
  }

  .restaurantcartes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
  }

  .restaurantcarte {
    width: 40%;
    margin: 30px;
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  h2.footer__titre {
    font-size: 40px;
    margin: 20px;
    align-items: center;
    text-align: center;
  }

  .footer__menu {
    display: flex;
    justify-content: space-between;
    width: 85%;
    font-size: 20px;
  }

  /* Responsive 4 page  */
  .headermenu {
    width: 100%;
  }

  .restheader_image {
    object-fit: cover;
  }

  .header_logo {
    text-align: center;
    display: flex;
    position: absolute;
  }

  .retour {
    width: 100%;
  }

  .header {
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    font-size: 40PX;
    margin-top: 0px;
  }

  section.present {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .nav_h2 {
    font-size: 2em;
  }

  .option-global {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 40px;
    margin-top: 30px;
    flex-wrap: wrap;
  }

  .option.fonct__option {
    margin-right: 25px;
    margin-left: 25px;
    padding-right: 40px;
    padding-left: 40px;
  }

  #restaurant {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  h2.title {
    font-size: 2em;
  }

  .restaurantcartes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
  }

  .restaurantcarte {
    width: 40%;
    margin: 30px;
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  h2.footer__titre {
    font-size: 40px;
    margin: 20px;
    align-items: center;
    text-align: center;
  }

  .footer__menu {
    display: flex;
    justify-content: space-between;
    width: 85%;
    font-size: 20px;
  }

  /* Responsive 4 page  */
  .headermenu {
    width: 100%;
  }

  .restheader_image {
    object-fit: cover;
  }

  .header_logo {
    text-align: center;
    display: flex;
    position: absolute;
  }

  .retour {
    width: 100%;
  }
}
a {
  color: black;
  text-decoration: none;
}

.restaurant-plat1-ville {
  margin: auto;
}

.restaurant-plat2-ville {
  margin: auto;
}

.restaurant-plat3-ville {
  margin: auto;
}

.restaurant-plat4-ville {
  margin: auto;
}

.restaurantcarte {
  position: relative;
  background: #FFF;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.restaurantcarte .restaurant-plat1-menu {
  box-shadow: 2px 4px 8px 3px #dadade;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.restaurantcarte .restaurant-plat1-menu .titre {
  flex-grow: 1;
  margin: 10px;
}

.restaurant-plat1-menu .titre h2 {
  padding: 0;
  margin: 0 0 5px 0;
}

.restaurant-plat1-menu .titre h3 {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

.nomrestaurant {
  display: flex;
  max-width: 100%;
  position: relative;
}

.nomrestaurant h2 {
  font-family: "Shrikhand", cursive;
}

.nav-h2 {
  margin: 20px 20px 20px;
  text-align: center;
  font-family: "Shrikhand", cursive;
}

.localisation {
  background: #ededef;
  padding: 1rem 0;
  text-align: center;
  font-family: "Shrikhand", cursive;
}

.present {
  background: #F5F5F6;
  padding-top: 20px;
  padding-bottom: 10%;
  text-align: center;
}

.image-palette {
  background-image: url(../image/restaurant/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 170px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  position: relative;
  object-fit: cover;
}

.image-note {
  background-image: url(../image/restaurant/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 170px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.image-francaise {
  background-image: url(../image/restaurant/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 170px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.image-delice {
  background-image: url(../image/restaurant/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 170px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.logo {
  display: block;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 50%;
  margin: auto;
}

.btn {
  padding: 20px;
  color: white;
  background: linear-gradient(#FF79DA 5%, #9356DC);
  border-radius: 30px;
  font-size: 1.1em;
  width: 60%;
  text-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin: auto;
  margin-bottom: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.option__number {
  position: relative;
  left: -0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
  background: #9356DC;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.fonct__option {
  margin: 0 0 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
  background: #F5F5F6;
  text-align: center;
  text-align: center;
  position: relative;
  margin-right: 0px;
  display: flex;
  box-shadow: 0 0.7rem 0.7rem 0 #dddddd;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.fonct__option:hover {
  background: rgba(147, 86, 220, 0.15);
  cursor: pointer;
}

.option__icon {
  text-align: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

/*# sourceMappingURL=style.css.map */
