@charset "UTF-8";
.restaurant {
  background: #f6f6f6;
  padding: 0 1.2rem 3rem;
}

.option-global {
  display: flex;
  flex-direction: column;
}

.nav {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

footer {
  background: #313132;
  flex-direction: column;
  display: flex;
  width: 100%;
}

.footer a {
  color: white;
}

.footer__heading {
  color: white;
  margin-left: 25px;
  padding-bottom: 0px;
}

.footer__titre {
  color: white;
}

h1 {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-family: "Shrikhand", "sans-serif";
  width: 100%;
}

h2 {
  font-size: 1.3em;
  padding-left: 30px;
  padding-top: 20px;
  margin-top: 0;
}

h3 {
  padding-left: 20px;
}

h4 {
  margin-bottom: 5px;
}

p.presentation-dexp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

p {
  margin-top: 5px;
  font-size: 0.9rem;
  width: 70%;
  white-space: nowrap;
}

.footer__icon {
  margin-right: 10px;
  width: 3%;
  color: white;
}

li {
  color: white;
  list-style: none;
}

ul {
  color: white;
}

.loader__spinner {
  z-index: 3;
  animation: spin 3s forwards linear;
  border: solid 15px transparent;
  border-radius: 50%;
  border-right-color: #9356DC;
  border-top-color: #9356DC;
  box-sizing: border-box;
  height: 150px;
  width: 150px;
  position: fixed;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  opacity: 0;
}
.loader__spinner::before {
  animation: spin 3s 250ms forwards linear;
  border: solid 15px transparent;
  border-radius: 50%;
  border-right-color: #FF79DA;
  border-top-color: #FF79DA;
  box-sizing: border-box;
  content: "";
  z-index: 3;
  height: 120px;
  width: 120px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.loader__spinner::after {
  animation: spin 3s 500ms forwards linear;
  border: solid 15px transparent;
  border-radius: 50%;
  border-right-color: #99E2D0;
  border-top-color: #99E2D0;
  box-sizing: border-box;
  content: "";
  z-index: 3;
  height: 90px;
  width: 90px;
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 0;
}

@keyframes spin {
  5% {
    opacity: 1;
  }
  25% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(540deg);
    opacity: 1;
  }
  80% {
    transform: rotate(576deg);
    opacity: 0.5;
  }
  90% {
    transform: rotate(648deg);
    opacity: 0;
  }
  100% {
    transform: rotate(720deg);
    opacity: 0;
    display: none;
  }
}
/*Création et animation du background du loading spinner */
.loader__ecran {
  background: rgba(153, 226, 208, 0.6);
  background-size: cover;
  width: 100%;
  height: 250%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transform-origin: top;
  transform: scale(0);
  animation: ecran 3s;
}

@keyframes ecran {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  60% {
    opacity: 0.9;
    transform: scale(1);
  }
  70% {
    opacity: 0.8;
    transform: scale(1);
  }
  90% {
    opacity: 0.7;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
    display: none;
  }
}
/*Animation de la page à afficher après le load spinner */
#pagetoload {
  z-index: 3;
  opacity: 1;
  animation: page 2s 2s both;
}

@keyframes page {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
/*ANIMATION DES MENUS */
.plat_detail {
  background: white;
  padding: 0px 50px 0px 10px;
  margin: 15px;
  box-shadow: 2px 2px 5px 2px #dddddd;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "sans-serif";
}

.plat_detail:hover {
  background: rgba(147, 86, 220, 0.15);
  cursor: pointer;
}

.plat {
  border-bottom: 3px solid #99E2D0;
  padding-top: 6px;
}

.menu-nouveau {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #99e2d0;
  color: #58a492;
  width: 20%;
  margin: 15px;
  border-radius: 7px;
  font-weight: bold;
}

.fa-check-circle {
  color: white;
  font-size: 1.3rem;
}

.item-icon {
  position: absolute;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 45PX;
  width: 30PX;
}

.item-icon :hover {
  cursor: pointer;
  position: absolute;
  background: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 45px;
  width: 30px;
  box-shadow: 2px 2px 5px 2px #dddddd;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: 1s background-color 250ms;
}

span.detail_prix {
  right: 30px;
  position: absolute;
  width: 30px;
  opacity: 1;
}

span.detail_prix:hover {
  cursor: pointer;
  animation: slideLeft 1s both;
  transition: 0.5s;
}

/*ANIMATION COEUR DE LA PAGE PRINCIPALE */
.action.far {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.action .fas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(#FF79DA, #9356DC);
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease;
}

.action .fas:hover .far {
  transform: scale(1);
  opacity: 1;
}

.action .far:hover {
  background: linear-gradient(#FF79DA, #9356DC);
}

.action {
  position: relative;
  align-self: flex-start;
  padding: 30px;
  font-size: 1, 5em;
  cursor: pointer;
}

.restaurant-plat1-menu .action {
  position: relative;
  align-self: flex-start;
  padding: 15px;
  font-size: 1, 5em;
  cursor: pointer;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "roboto";
}

.restmain {
  margin-top: -100px;
  background-color: #eaecec;
  border-radius: 45px 45px 0px 0px;
  z-index: 1;
  width: 100%;
  min-height: 100%;
  position: relative;
}

.restheader_image {
  max-width: 100%;
  background-image: url(../image/restaurant/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  width: 100%;
  font-size: 23px;
  position: relative;
}

.header {
  flex-direction: column;
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

.header_logo {
  justify-content: center;
  display: flex;
  text-align: center;
}

.restheader__titre {
  justify-content: space-between;
  align-items: center;
  border-radius: 50px 50px 0px 0px;
  background-color: #f6f6f6;
  margin-top: 20px;
  font-family: "Shrikhand", "sans-serif";
  font-size: 23px;
  position: relative;
}

a {
  color: black;
  text-decoration: none;
}

.restaurant-plat1-ville {
  margin: auto;
}

.restaurant-plat2-ville {
  margin: auto;
}

.restaurant-plat3-ville {
  margin: auto;
}

.restaurant-plat4-ville {
  margin: auto;
}

.restaurantcarte {
  position: relative;
  background: #FFF;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-bottom: 20px;
  font-family: "roboto";
}

.restaurantcarte .restaurant-plat1-menu {
  box-shadow: 2px 4px 8px 3px #dadade;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.restaurantcarte .restaurant-plat1-menu .titre {
  flex-grow: 1;
  margin: 10px;
}

.restaurant-plat1-menu .titre h2 {
  padding: 0;
  margin: 0 0 5px 0;
}

.restaurant-plat1-menu .titre h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.nomrestaurant {
  display: flex;
  max-width: 100%;
  position: relative;
}

.nomrestaurant h2 {
  font-family: "Shrikhand";
}

.nav-h2 {
  margin: 20px 20px 20px;
  text-align: center;
  font-family: "Shrikhand", "sans-serif";
}

.localisation {
  background: #ededef;
  padding: 1rem 0;
  text-align: center;
  font-family: shrikhand;
}

.present {
  background: #F5F5F6;
  padding-top: 20px;
  padding-bottom: 10%;
  text-align: center;
}

.image-palette {
  background-image: url(../image/restaurant/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 170px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  position: relative;
  object-fit: cover;
}

.image-note {
  background-image: url(../image/restaurant/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 170px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.image-francaise {
  background-image: url(../image/restaurant/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 170px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.image-delice {
  background-image: url(../image/restaurant/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 170px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.logo {
  display: block;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 50%;
  margin: auto;
}

.btn {
  padding: 20px;
  color: white;
  background: linear-gradient(#FF79DA 5%, #9356DC);
  border-radius: 30px;
  font-size: 1.1em;
  width: 50%;
  text-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin: auto;
  margin-bottom: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.option__number {
  position: relative;
  left: -0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
  background: #9356DC;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.fonct__option {
  margin: 0 0 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
  background: #F5F5F6;
  text-align: center;
  text-align: center;
  position: relative;
  margin-right: 0px;
  display: flex;
  box-shadow: 0 0.7rem 0.7rem 0 #dddddd;
  align-items: center;
  font-family: "Roboto";
}

.fonct__option:hover {
  background: rgba(147, 86, 220, 0.15);
  cursor: pointer;
}

.option__icon {
  text-align: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

/*# sourceMappingURL=style.css.map */
