.rotate-scale-up-ver {
	
    animation: rotate-scale-up-ver 0.65s linear both;
}



/**
* ----------------------------------------
* animation rotate-scale-up-ver
* ----------------------------------------
*/
@-webkit-keyframes rotate-scale-up-ver {
0% {

    transform: scale(1) rotateY(0);
}
50% {

    transform: scale(2) rotateY(180deg);
}
100% {

    transform: scale(1) rotateY(360deg);
}
}
@keyframes rotate-scale-up-ver {
0% {

    transform: scale(1) rotateY(0);
}
50% {

    transform: scale(2) rotateY(180deg);
}
100% {

    transform: scale(1) rotateY(360deg);
}
}


/*animation coeur*/

.heart1 {
 
    position: relative;
    align-items: center;
    display: flex;
    padding: 30px;
  }

  .heart1 .fa-heart {
    position: absolute;
    background: white;
    font-size :2rem,
    
  }

  .heart1 .fa-gradient {
    color: grey;
    background-color: #eaecec;
  }
  .heart1 .fa-gradient:hover::before {
    cursor: pointer;
    font-weight: bold;
    animation: backgroundtwo 4s ease-in-out;
    background: linear-gradient(#9356dc, #fa79da);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.heart {
    position: absolute;
    box-sizing: border-box;
    right: 10%;
    display: flex;
    top: 187px;
    width: 30px;
    height: 10px;
  }
  .heart .fa-heart {
    position: absolute;
    background: white;
    font-size :2rem,
  
  }

  .heart .fa-gradient {
    color: grey;
    background-color: #eaecec;
  }
  .heart .fa-gradient:hover::before {
    cursor: pointer;
    font-weight: bold;
    animation: backgroundtwo 4s ease-in-out;
    background: linear-gradient(#9356dc, #fa79da);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

  }

/* on stylise le label faire le fond */

label {

    display : block;  
    cursor:pointer;
    width: 50px;
    height:50px;
    background-color: #99e2d0;
    border-radius: 0 20px 20px 0;
    margin-left: 90%;
    margin-bottom: 80pxpx;
    position: relative;
  }
  
  label::after{
    content:"";
    display: block;
    position:relative;
    top:5px;
    left:40px;
    height:40px;
    background-color:red;
    border-radius: 0 20px 20px 0;
    transition: all .4s ease-out;
  }
  
