
    body{
      padding: 0;
      margin: 0;
      background: #FFF;
      box-sizing: border-box;
      font-size: 0.9em;
    }

.footer{

  background: #313132;
  padding-bottom: 20px;
}
 
    h2 {
      
      color: white;
      font-weight: normal;
      font-size: 1.3em;
      padding-left: 30px;
      padding-top: 20px;
      margin-top: 0;
    }

    .footer__icon {
      margin-right: 10px;
      width: 3%;
      color:white
    }
   
li {
  color:white;
}

ul{

  color:white;

}
      
      
     