
.restaurant {
  background: #f6f6f6;
  padding: 0 1.2rem 3rem;
}

.option-global{
  display: flex;
  flex-direction: column;
 
}   
  .nav{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
   
  }

  footer{

    background: #313132;
    flex-direction: column;
    display: flex;
    width: 100%; 
  
  }

  .footer a{

  color:white;
  }

  .footer__heading{
    color: white;
    margin-left: 25px;
    padding-bottom: 0px;
  }
  
  .footer__titre{
  color: white ;
}
   
h1 {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-family: "Shrikhand", "sans-serif";
  width: 100%;
  
}
  h2 {
      font-size: 1.3em;
      padding-left: 30px;
      padding-top: 20px;
      margin-top: 0;
    }

  h3{
      padding-left: 20px;
    }

  h4{
  margin-bottom: 5px;
  }


  .presentation-dexp{
    margin-top: 4px;
    font-size: .9rem;
    margin:20px;
    
  }

  .present h2{

    padding-left: 0px;
   

  }

p.menu-nouveau{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #99e2d0;
    margin: 15px;
    border-radius: 3px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    width: 86px;

}


.plat_detail h3,  p.titreplat{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

   .footer__icon {
      margin-right: 10px;
       width: 3%;
      color:white
    }
   
    li {
  color:white;
  list-style: none;
      }

ul{

  color:white;

}

