
/* Responsive page home */

@media screen and (min-width: 768px) {


  .header{

    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    font-size: 40PX;
    margin-top: 0px;
  }

    section.present{

        padding-bottom: 40px;
        padding-top: 40px;
        }
  

  .nav_h2{

    font-size: 2em;
}

  .option-global {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 40px;
    margin-top: 30px;
    flex-wrap: wrap;
}


.option.fonct__option{

    margin-right:25px; 
    margin-left: 25px;
    padding-right: 40px;
    padding-left: 40px;
 }
#restaurant{

    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
    }


h2.title{

    font-size: 2em;;
  }

  .restaurantcartes{

    width: 100%;
    display: flex;
    justify-content: center;
    align-content:space-around;
    flex-wrap: wrap;
    }

    .restaurantcarte{

        width: 40%;
        margin:30px;
    }

.footer{

    width: 100%;
    display: flex;
    justify-content: space-between;
    }

h2.footer__titre{

    font-size: 40px;
    margin: 20px;
    align-items: center;
    text-align: center;
}    

.footer__menu{  

display: flex;
justify-content: space-between;
width: 85%;
font-size: 20px;

}

/* Responsive 4 page  */

.headermenu{

    width: 100%;
}

.restheader_image{
object-fit:cover;
}

.header_logo{

    text-align: center; 
    display: flex;
    position: absolute;
}

.retour{

    width: 100%;
}

@media screen and (max:768px){

}

  .header{

    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    font-size: 40PX;
    margin-top: 0px;

  }

    section.present{

        padding-bottom: 40px;
        padding-top: 40px;
        }
  

  .nav_h2{

    font-size: 2em;
}

  .option-global {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 40px;
    margin-top: 30px;
    flex-wrap: wrap;
}


.option.fonct__option{

    margin-right:25px; 
    margin-left: 25px;
    padding-right: 40px;
    padding-left: 40px;
 }
#restaurant{

    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
    }


h2.title{

    font-size: 2em;;
  }

  .restaurantcartes{

    width: 100%;
    display: flex;
    justify-content: center;
    align-content:space-around;
    flex-wrap: wrap;
    }

    .restaurantcarte{

        width: 40%;
        margin:30px;
    }

.footer{

    width: 100%;
    display: flex;
    justify-content: space-between;
    }

h2.footer__titre{

    font-size: 40px;
    margin: 20px;
    align-items: center;
    text-align: center;
}    

.footer__menu{  

display: flex;
justify-content: space-between;
width: 85%;
font-size: 20px;

}

/* Responsive 4 page  */

.headermenu{

    width: 100%;
}


.restheader_image{
object-fit:cover;
}

.header_logo{

    text-align: center; 
    display: flex;
    position: absolute;
}

.retour{

    width: 100%;
}

}

