body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column; 
    height:100%;
    font-family: 'Roboto', sans-serif;
}

.restmain{
  
    margin-top: -100px;
    background-color:#eaecec;   
    border-radius: 45px 45px 0px 0px;
    z-index: 1;
    width: 100%;
    min-height:100%; 
    position:relative;
}
  
.restheader_image {
    max-width: 100%; 
    background-image: url(../image/restaurant/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover;
    width: 100%;
    font-size: 23px;
    position:relative;
}  

.header{

    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
    margin-left: 0;

}

.headermenu {
width: 300px;
justify-content: center;
align-items: center;
display: flex;
margin-top: 20px;
margin-left: 0;
}

.header_logo{
 justify-content: center;
 display: flex;
 text-align: center;    
}

.restheader__titre{
  justify-content: space-between;
  align-items: center;
  border-radius: 50px 50px 0px 0px;
  background-color: #f6f6f6;
  margin-top:20px;
  font-family: 'Shrikhand', cursive;
  font-size: 23px;
  position: relative;
}


.retour{
  width: 80%;
  margin: 10px;
  display: flex;
  align-items: center;
}






