
.detail_prix{

        position: absolute;
        right: 10px;
        font-weight: bold;
        font-family: "Roboto", Verdana, Trebuchet, sans-serif;
        margin-right: 30px;
}

.fas.fa-check {
    background-color: white;
    margin: 35%;
    border-radius: 50%;
    color: #99e2d0;
    padding: 3px;
}
.validation{
    
    margin: 15px;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    background-color: #99E2D0;
    display: flex;
    justify-content: center;
    width: 0%;
    float:right;
}









