
.detail_prix{

        position: absolute;
        right: 10px;
        margin-right: 30px;
}

.nomrestaurant{
    display: flex;
    max-width: 100%;
    position: relative;
}

.nomrestaurant h2{
  
        font-family: "Shrikhand";
}







