
@import'./_base.scss';
@import'./_variables.scss';
@import'./_pages.scss';
@import'./_animation.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&family=Shrikhand&display=swap');

a{

  color: black;
  text-decoration: none;
  
}

  .restaurant-plat1-ville{
    margin:auto;
  }
 
  .restaurant-plat2-ville{
      margin:auto;
  }

  .restaurant-plat3-ville{
    margin:auto;
  }

  .restaurant-plat4-ville{
  margin:auto;
  }


  .restaurantcarte{
  
    position: relative;
    background: #FFF;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 20px;
   
  }

  .restaurant-plat1-menu{

    box-shadow: 2px 4px 8px 3px #dadade;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 20px;
    padding-left: 20px;
    background: white;
    padding-bottom: 20px;
    color: black;
  }

.nav-h2{
  margin: 20px 20px 20px; 
  text-align: center;
  font-family: "Shrikhand", "sans-serif"; 
}

.localisation {
  background: #ededef;
  padding: 1rem 0;
  text-align: center;
  font-family: shrikhand ;

}

.present{
  background: #F5F5F6;
  padding-top:20px;
  padding-bottom: 10%;
  text-align: center;
 
}

.image-palette{
  background-image: url(../image/restaurant/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 170px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  position: relative;
}

.image-note{
  background-image: url(../image/restaurant/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height:170px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.image-francaise{
  background-image: url(../image/restaurant/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 170px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.image-delice{
  background-image: url(../image/restaurant/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 170px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
 
}


.logo  {
    display: block;
    padding-top: 20px;
    padding-bottom: 15px;
    width: 50%;
    margin: auto;
    
}

.btn  {
    padding: 20px;
    color: white;
    background: linear-gradient(#FF79DA 5%, #9356DC);
    border-radius:30px;
    font-size: 1.1em;
    width: 50%;
    text-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin: auto;
    margin-bottom: 40px;
    margin-bottom: 40px;
    margin-top: 40px;

  }

.option__number {
  
  position: relative;
    left: -0.3rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50px;
    background: #9356DC;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
   
}

.fonct__option {

  margin: 0 0 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
  background: #F5F5F6;
  text-align: center;
  text-align: center;
  position: relative;
  margin-right: 0px;
  display: flex ;
  box-shadow: 0 0.7rem 0.7rem 0 #dddddd;
  align-items: center;
  font-family: "Roboto";  
}    


.option__icon{

  text-align: center;
  align-items: center;
 padding-left: 10px;
 padding-right:10px ;
}

/* cache linput de base */

input checkbox{
  display : none;
}






