
@import'./_base.scss';
@import'./_variables.scss';
@import'./_pages.scss';


a{
  color:white;
  text-decoration: none;
  font-family: "roboto", "sans-serif"; 
}

  .restaurant-plat1-menu{
  margin:auto;
  }
  .restaurant-plat1-ville{
    margin:auto;
  }
  .restaurant-plat2-menu{
    margin:auto;
    }
  .restaurant-plat2-ville{
      margin:auto;
  }

  .restaurant-plat3-menu{
    margin:auto;
  }
  .restaurant-plat3-ville{
    margin:auto;
  }

  .restaurant-plat4-menu{
     margin :auto;
  }
  .restaurant-plat4-ville{
  margin:auto;
  }
  .restaurantcarte1{
  background: #FFF;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 2px 4px 8px 3px #dadade;
  margin-bottom: 20px;
  position: relative; 
  padding: 25px;
        
}

.restaurantcarte2{
  background: #FFF;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 2px 4px 8px 3px #dadade;
  margin-bottom: 20px;
  position: relative; 
  padding: 25px;
}

.restaurantcarte3{
  background: #FFF;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 2px 4px 8px 3px #dadade;
  margin-bottom: 20px;
  position: relative; 
  padding: 25px;
}

.restaurantcarte4{
  background: #FFF;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 2px 4px 8px 3px #dadade;
  margin-bottom: 50px;
  position: relative; 
  padding: 25px;
}

#restaurant.restaurant{
background-color:white;
 
}
.nav-h2{
  margin: 20px 20px 20px; 
  text-align: center;
  font-family: "Shrikhand", "sans-serif"; 
}


h2 {
color: black;
font-size: 1.5rem;
font-weight: 700;
padding: 1rem;
font-family: "Shrikhand", "sans-serif"; 
}

.localisation {
  background: #ededef;
  padding: 1rem 0;
  text-align: center;
  font-family: shrikhand ;

}

.present{
  background: #F5F5F6;
  padding-top:20px;
  padding-bottom: 10%;
  text-align: center;
 
}

.image-palette{
  background-image: url(../image/restaurant/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 170px;
  border-top-left-radius:30px ;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.image-note{
  background-image: url(../image/restaurant/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height:170px;
  border-top-left-radius:30px ;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.image-francaise{
  background-image: url(../image/restaurant/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 170px;
  border-top-left-radius:30px ;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.image-delice{
  background-image: url(../image/restaurant/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 170px;
  border-top-left-radius:30px ;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}


.logo  {
    display: block;
    padding-top: 20px;
    padding-bottom: 15px;
    width: 50%;
    margin: auto;
    font-weight: bold;
}

.btn  {
    padding: 20px;
    color: white;
    background: linear-gradient(#FF79DA 5%, #9356DC);
    border-radius:30px;
    font-size: 1.1em;
    width: 50%;
    text-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
  }

.option__number {
  position: absolute;
  left: -.3rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
  background: #9356DC;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
  
}

.fonct__option {

  margin: 0 0 30px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius:50px;
  background: #F5F5F6;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.option__icon{

  text-align: center;
  align-items: center;
  display: inline-block;
}




